<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSHI PaySlip</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="/stylesheets/payslip.css">
</head>
<body>
    <main>
        <section class="main-container">
            <div class="rect-box">
                <aside class="lft-square">
                    <div class="square-heading">
                        <h2>Total Earning: <span>¥<%= (totalWork*perHour) %></span></h2>
                        <small>Hourly wage: <%= perHour %> /Hour</small>
                    </div>
                    <div class="input-content">
                        <div class="related-info">
                            <div class="sub-card">
                                <p>Today's <br> Earnings: </p>
                                <h4>¥<%= (todayWork*perHour) %>  </h4>
                            </div>
                            
                            <div class="sub-card">
                                <p>Month:</p>
                                <p>Sept</p>
                            </div>
                            <div class="sub-card">
                                <p>Total days <br> worked:</p>
                                <p><%= shift %>  </p>
                            </div>
                            <div class="sub-card">
                                <p>Total hours<br> worked: </p>
                                <p><%= totalWork %>  </p>
                            </div>
                            <div class="sub-card">
                                <p>Tax deductable:</p>
                                <p>----</p>
                            </div>
                        </div>
                        <div class="extra-msg">
                            <small>Tax deduction calculation will be done shortly.. </small>
                        </div>
                    </div>
                    <div class="option">
                        <small>This project was initated to provide part-time employees with early salary without any commission charged.
                            So, we are working towards it to make it happen. Soon you will be able to spend your money on same day of Earning.
                        If this idea sounds cool, click below button once  to apply for Oshi Wallet Beta version. </small>
                        <button formaction="#" id="payslip">Oshi Wallet pilot</button>
                    </div>
                </aside>
                <aside class="rgt-square">
                    <div class="square-heading">
                        <h1>Oshi Payslip <br><span>- <%= username %> </span></h1>
                    </div>
                </aside>
            </div>
        </section>
</main>
    <%- include('../partials/footer')  %> 

</body>
</html>