<% layout('layout/boilerplate')%>
<script src="/javascripts/table2excel.js"></script>



<div class="message-info">
    <h4>This screen have tabular information, which cannot be viewed in mobile screen. Please use laptop for accessing Insights page</h4>
    <p><strong>You can view your employees worktime history and also download those information on excel or csv file from this page.</strong></p>
</div>

<div class="col-9 insights_section">
    <div class="logout-btn">
        <div class="profile-items">
            <a href="#"> <%= currentAccountName %> </a> 
        </div>
        <form action="/firm/logout" method="post">
            <button class="logout">Logout</button>
        </form>
    </div>
    <div class="body-section">
        <div class="heading-section">
            <h1>Team Insights</h1>
            <button id="downloadexcel">Export To Excel</button>
            <form action="/firm/insights">
                <select name="month" id="month">
                    <option value="" disabled selected>Select Month</option>
                    <option value="Jan">Janauray</option>
                    <option value="Feb">Feburary</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">Septmeber</option>
                    <option value="Oct">October</option>
                    <option value="Nov">Novemeber</option>
                    <option value="Dec">December</option>
                </select>
                <button class="month-submit">Submit</button>
            </form>
            
        </div>
        
        <hr>
        <div class="table-container">
            <table id="table">
                <thead>
                    <tr class="table-heading">
                        <th>
                            <h6>Employees</h6>
                        </th>
                        <th>
                            <h6>Month</h6>
                        </th>
                        <th>
                            <h6>Time Card (hh:mm:ss)</h6>
                        </th>
                        <th>
                            <h6>Total Worked Hours</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let team of teamList){ %> 
                        <% for(let time of team.workHour) { %>
                            <% if(time.workMonth.includes(currentMonth)){ %>
                        <tr class="table-data">
                            <td>
                                <small><%= team.username  %> </small> 
                            </td>
                            <td>
                                <small><%= time.workMonth %> </small>
                            </td>
                            <td>
                                <small><%= time.timeCard  %></small>
                            </td>
                            <td>
                                <small><%= (time.workTime/3600000).toFixed(1)  %></small>
                            </td>
                            
                        </tr>
                        <% } %> 
                        <% } %> 
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>